@model IEnumerable<wystawiacz_faktur.DTO.AddKontrahentListItemDTO>

<form method="post" action="/contact/Create">
    <label>nazwa:</label>
    <input type="text" name="nazwa" />

    <label>NIP:</label>
    <input type="text" name="NIP" />

    <label>adres:</label>
    <input type="text" name="adres" />

    <label>numer konta:</label>
    <input type="text" name="numer konta" />

    <label>kod_pocztowy:</label>
    <input type="text" name="kod_pocztowy" />

    <label>miasto:</label>
    <input type="text" name="miasto" />

    <label>typ:</label>
    <input type="text" name="typ" />

    <button type="submit">Zapisz</button>
</form>
